<h1 class="text-center mt-5" style="color: green">About Us</h1>

<p> In the jungle, the might jungle as they say, we thrive ourselves with the best and the freshest house plants.  We currently have three plant categories in the jungle for your loved one, your sweet one or your green one! we want to make your plant buying experience one that youll never forget! </p>

<h2 class="mt-5" style="color: green"> Evergreen</h2>
<p> a plant that retains its leaves through the year and into the following growing season. Many tropical species of broad-leaved flowering plants are evergreen, but in cold-temperate and Arctic areas the evergreens commonly are cone-bearing shrubs or trees (conifers), such as pines and firs.</p>

<h2 class="mt-5" style="color: green">Tree</h2>
<p> a tall plant that can live for a very long time. It has a single stem or trunk and branches that support leaves. Beneath the ground, a tree has a root system that acts as an anchor and stores the water and nutrients the plant needs to grow.</p>

<h2 class="mt-5" style="color: green">Shrubs</h2>
<p> a woody plant that has several stems, none dominant, and is usually less than 3 m (10 feet) tall. When much-branched and dense, it may be called a bush. Intermediate between shrubs and trees are arborescences, or treelike shrubs, from 3 to 6 m tall.</p>